
  html,
  body {
    height: 100%;    
  }
  
  body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;    
    background-color: #343a40!important;
  }

  .bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-width: .2rem 0 0;
}

@media (min-width: 576px){
  .bd-example {
      padding: 1.5rem;
      margin-right: 0;
      margin-left: 0;
      border-width: .2rem;
  }  
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }